@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(90deg, rgba(251, 213, 251, 1),
     rgba(149, 233, 243, 1));
}
h2{
    font-size: 40px;
}
p{
    font-size: 32px;
}
.title{
    margin-left: 5vw;
    font-size: 80px;
    color: rgb(142, 123, 178,0.6);
}
.button{
    text-align: center;
}

#ansStartButton{
    font-size: 32px;
    background-color: pink;
    border: 1px solid #fff;
    box-shadow:20px 20px 20px #fff;
    border-radius: 50px;
    width: 30%;
    padding: 5px;
    cursor: pointer;
}

#ansArea p{
    line-height: 3rem;
}

#question{
    color: #a58383;
    margin-left: 10vw;
    border-bottom: 2px solid yellowgreen;
    border-radius: 30%;
    width: fit-content;
}
#ans1{
    margin-left:20vw;
    margin-top: 20px;
}
#ans2{
    margin-top: 30px;
}
#ans2,#ans3,#ans4{
    padding-left: 30vw;
}

.ansbutton{
    margin-left: 25vw;
}

.ansbutton button {
    cursor: pointer;
    font-size: 24px;
}

#ansArea button{
    margin: 40px 20px;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid red;
    background-color: pink;
}

#answer,#countDown{
    margin-left: 40vw;
    margin-top: 20px;
}



/* sp */
@media (max-width:430px){
    p{
        font-size: 16px;
    }
    h2{
        font-size: 24px;
    }
    .title{
        font-size: 36px;
    }
    #ansStartButton{
        font-size: 16px;
        width: 50%;
        padding: 5px;
    }
    #ans1{
        margin: 10px 5vw;
    }
    #ansArea p{
        line-height: 2rem;
    }
    
    #ans2{
        margin-top: 30px;
        line-height: 0.1rem;
    }
    #ans2,#ans3,#ans4{
        padding-left: 15vw;
    }
    
    .ansbutton{
        margin-left: 5vw;
        text-align: center;
    }
    
    .ansbutton button {
        font-size: 16px;
    }
    
    #ansArea button{
        margin: 20px 5px;
        padding: 5px 5px;
    }
    
    
    
}
/* sp ここまで */
