@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: bottom;
}
.section{
    padding: 80px ;
    width: 80%;
    margin: 0 auto;
}
.side{padding: 40px;
    width: 80%;
    margin: 0 auto;
}

section h1{
    font-size: 48px;
    text-align: center;
    padding-top: 16px;
    font-family: 'Comic Sans MS',sans-serif;
    padding-bottom: 10px;
}
.deco{
    margin: 0;
    font-size: 48px;
    position: relative;
    font-weight: normal;
    margin-bottom: 15px;
    border-bottom: solid 4px rgb(175, 168, 168);
    border-radius: 0px 0px 160px 180px/0px 0px 20px 4px;
}

/* header */
header{
    font-family: 'Gabriola',sans-serif;
    background-color: #eee;
}
nav{
    width: 80%;
    margin: 0 auto;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav h2{
    font-family: 'ＭＳ Ｐ明朝','MS PMincho',sans-serif;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin-left: 15px;
    margin-right: 40px;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 24px;
}
.mainvisual{
    background-image: url(./image2/header_img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Gabriola',sans-serif;
    position: relative;
    overflow: hidden;
}
.mainvisual::after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px 10px #FFF;
}
.mainvisual .box{
    padding-top: 10%;
    text-align: center;
}
.mainvisual .box h1{
    font-size: 64px;
}
.mainvisual .box p{
    font-size: 16px;
    font-weight: bold;
    font-family: 'ＭＳ Ｐ明朝','MS PMincho',sans-serif;
    line-height: 1.5;
}
/* ページトップへ */
html {
    scroll-behavior: smooth;
}
.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #eee;
    border: solid 5px #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.pagetop__arrow {
    height: 10px;
    width: 10px;
    border-top: 5px solid #000;
    border-right: 5px solid #000;
    transform: translateY(20%) rotate(-45deg);
}

/* profile プロフィール */
.Profile{
    width: 100%;
}
.Profile .section .content1,
.Profile2 .section .content2{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.Profile .section{
    padding-bottom: 50px;
}
.Profile .content1 .container {
	position: relative;
    width: 80%;
    right: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.Profile .section .content1 .container img{
    width: 100%;
    background-size : cover;
}
.Profile .section .content1 .container::after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px 15px #FFF;
}
.Profile .content1 .text {
    width: 550px;
    height: 280px;
    padding: 15px;
    margin: 2em auto;
    background: #eee;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
    word-break: break-all;
 }
 .Profile .content1 .text p {
     margin: 0; 
     padding: 0;
     font-size: 16px;
 }
 .Profile .content1 .text_tape {
     width: 50%;
     height: 35px;
     margin: -25px auto 0;
     background: #989898;
     transform: rotate(-3deg);
     opacity: 0.1;
 }
 .Profile .content1 .text_title {
     text-align: center;
     font-size: 1.3em!important;
     margin-top: 10px!important;
     margin-bottom: 10px!important;
 }
 .Profile2 .section{
    padding-top: 0;
 }
.Profile2 .section .content2 .container2{
    width: 65%;
    position: relative;
}
.Profile2 .section .content2 .container2 img{
    width: 100%;
    background-size : cover;
}
.Profile2 .section .content2 .container2::after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px 15px #FFF;
}
.Profile2 .content2 .text2 {
    width: 480px;
    height: 300px;
    padding: 15px;
    margin: 2em auto;
    background: #eee;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
    word-break: break-all;
    z-index: 2;
 }
 .Profile2 .content2 .text2 p {
     margin: 0; 
     padding: 0;
     font-size: 16px;
 }
 .Profile2 .content2 .text2_tape {
     width: 50%;
     height: 35px;
     margin: -25px auto 0;
     background: #989898;
     transform: rotate(-3deg);
     opacity: 0.1;
 }
 .Profile2 .content2 .text2_title {
     text-align: center;
     font-size: 1.3em!important;
     margin-top: 10px!important;
     margin-bottom: 10px!important;
 }

/* futuregoals 将来の目標 */
.FutureGoals{
    height: 100vh;
    margin-bottom: 120px;
}
.FutureGoals h3{
    text-align: center;
    font-family: 'ＭＳ Ｐ明朝','MS PMincho',sans-serif;
    font-weight: bold;
}
.FutureGoals .content{
    display: flex;
    justify-content: center;
}
.FutureGoals .content .box{
    width: 100%;
}
.FutureGoals .content .box:nth-child(2){
    margin: 0 32px;
}
.FutureGoals .content .box .image img{
    width: 20vw; 
    height: 35vh;
    border-radius: 0px 56px 0px 56px/0px 56px 0px 56px; 
}
.FutureGoals .content .box .image{
    position: relative;
    overflow: hidden;
}
.FutureGoals .content .box .image::after {
	position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px 10px #FFF;
}
.FutureGoals .box_mini{
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: bold;
}
.FutureGoals .content .box .text{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    margin-top: 16px;
}
.FutureGoals .text_box{
    width: 700px;
    margin-bottom: 48px;
    margin: 2em auto;
    padding:2em;
    background: none;
    border:1px solid #c5c0c0 ;
    position: relative;
}
.FutureGoals .text_box:after{
    background-color:#eee;
    border:none;
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 100%;
    height: 100%;
    z-index: -1;
    }

/* hobby 趣味 */
.Hobby{
    padding-top: 10vh;
}
.Hobby .content{
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 100px;
}
.Hobby .content .image_06,
.Hobby .content .image_04,
.Hobby .content .image_02,
.Hobby .content .image_08{
    width: 0px;
    padding: 5px;
    position: absolute;
}
.Hobby .content .image_06{
    top: 0%;
    left: 0%;
    z-index: 1;
}
.Hobby .content .image_04{
    top: 25%;
    left: 25%;
    z-index: 2;
}
.Hobby .content .image_02{
    top: 0%;
    left: 50%;
    z-index: 3;
}
.Hobby .content .image_08{
    top:25%;
    left: 75%;
    z-index: 4;
}
.Hobby .content .image_06 img,
.Hobby .content .image_04 img{
    width: 20vw ;
    height: 40vh;
    background-size: cover;
}
.Hobby .content .image_02 img,
.Hobby .content .image_08 img{
    width: 20vw;
    height: 40vh;
    background-size: cover;
}
.hover10 {
    border: 25px solid #eee;
    border-radius: 10px;
	transition: all 0.6s ease 0s;
}
.hover10:hover {
	cursor: pointer;
	transform: scale(1.1, 1.1);
}

/* 趣味の展開 */
.side{
    padding-top: 100px;
}
.side h2{
    font-size: 16px;
}
.side h3{
    color: #908c8c;
    font-size: 56px;
    padding: 32px 0;
    font-family: 'ＭＳ Ｐ明朝','MS PMincho',sans-serif;
}
.side p{
    font-size: 20px;
    font-family: 'ＭＳ Ｐ明朝','MS PMincho',sans-serif;
    padding: 18px;
    padding-left: 48px;
}
#obentou p{
    line-height: 1.5;
}
#running p{
    line-height: 1.5;
}.side .content{
    display: flex;
    padding-top: 50px;
}
span{
    margin: 5px;
}
.side .content{
    display: flex;
    justify-content: center;
}
.side .content .box{
    width: 260px;
    height: 250px;
    position: relative;
}
.side .content .box h2{
    position: absolute;
    top: 15%;
    left: 10%;
    color: #eee;
}
.side .content .box:nth-child(2){
    margin: 0 40px;
}
.side .content .box img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border-top: 20px solid #eee;  
    border-bottom: 20px solid #eee;  
}
.side .content .box p{
    font-size: 16px;
    padding: 0.3em;
}
.textarea{
    margin: 0.3em auto;
    padding:0.1em;
    border-left:double 5px #c5c0c0;
    border-right:double 5px #c5c0c0;
    box-shadow:3px 1px 4px rgba(0, 0, 0, 0.2);
}
.textarea p{
    line-height: 1.3;
}
.side .p_area{
    display: inline;
	font-size: 26px;
    color: #827e7e;
	background-image: linear-gradient(rgba(0,0,0,0) 70%, #eee 70%);
}

footer{
    height: 80px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}